:root {
  --main-background-color: #0e0f1e;
  --pink-intense: rgba(234, 20, 134, 0.1);
  --pink-light: rgba(220, 17, 125, 0.01);
}

.App {
  width: 100%;
  text-align: center;
  background-color: var(--main-background-color);
  min-height: 100vh;
  color: white;
  font-family: Ppneuemachina, sans-serif;
}

.my-display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
